configuration:
  nrfUri: {{ nrf_url }}
  nsiList:
  - nsiInformationList:
    - nrfId: {{ nrf_url }}/nnrf-nfm/v1/nf-instances
      nsiId: 22
    snssai:
      sd: "{{ sd }}"
      sst: {{ sst }}
  nssfName: NSSF
  sbi:
    bindingIPv4: 0.0.0.0
    port: {{ sbi_port }}
    registerIPv4: {{ nssf_ip }}
    scheme: http
  serviceNameList:
  - nnssf-nsselection
  - nnssf-nssaiavailability
info:
  description: NSSF initial local configuration
  version: 1.0.0
